<div class="container">
  <!-- form response message -->
  <form [formGroup]="contactForm" novalidate (ngSubmit)="onSubmit()" (ngReset)="onReset()" autocomplete="on">
    <mat-card class="contact-card">
      <mat-card-header>
        <mat-card-title>{{title}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field appearance="outline">
              <mat-label>First name</mat-label>
              <input matInput formControlName="first_name">
              @if (contactForm.controls['first_name'].hasError('required')) {
              <mat-error>First name is <strong>required</strong></mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field appearance="outline">
              <mat-label>Last name</mat-label>
              <input matInput formControlName="last_name">
              @if (contactForm.controls['last_name'].hasError('required')) {
              <mat-error>Last name is <strong>required</strong></mat-error>
              }
            </mat-form-field>
          </div>
        </div>

        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
            @if (contactForm.controls['email'].hasError('required')) {
            <mat-error>Email is <strong>required</strong></mat-error>
            }
            @if (contactForm.controls['email'].hasError('email')) {
            <mat-error>Please enter a valid email address</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Message</mat-label>
            <textarea matInput formControlName="message"></textarea>
            @if (contactForm.controls['message'].hasError('required')) {
            <mat-error>Message is <strong>required</strong></mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="outline">
            <input matInput placeholder="Company" formControlName="company" autocomplete="organization">
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Phone Number</mat-label>
            <input matInput formControlName="phone_number" autocomplete="mobile">
          </mat-form-field>
        </div>

        <div class="spacer-form">
          <div class="col">
            <mat-checkbox matInput formControlName="subscribe" aria-label="Select to subscribe" matInput="subscribe">
              Subscribe to our newsletter!

              @if (contactForm.controls['subscribe'].hasError('required')) {
              <mat-error>Subscribe is <strong>required</strong></mat-error>
              }
            </mat-checkbox>

          </div>

          <div class="col">
            <mat-checkbox matInput formControlName="privacy_policy" aria-label="Mark as read" matInput="privacy_policy"
              (change)="privacyPolicyChecked = !privacyPolicyChecked" [checked]="privacyPolicyChecked">
              Have you read and accepted our privacy policy?

              @if (contactForm.controls['privacy_policy'].hasError('required')) {
              <mat-error>Privacy policy is <strong>required</strong></mat-error>
              }
            </mat-checkbox>

          </div>
        </div>
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button color="primary" disabled={{submitting}} type="submit">Submit</button>
        <button mat-raised-button color="primary" disabled={{submitting}} type="reset">Reset</button>
      </mat-card-actions>

      <mat-card-footer>
        <mat-progress-bar mode="determinate" value='0'></mat-progress-bar>
      </mat-card-footer>
    </mat-card>
  </form>
</div>
