.container {
  background: var(--md-sys-color-primary);
  color: var(--md-sys-color-on-primary);
  -webkit-overflow-scrolling: touch;
  justify-content: center;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  z-index: 1;

  mat-slide-toggle {
    margin: 8px;
    padding-bottom: 8px;
    display: block;
  }

  .contact-card {
    min-width: 120px;
    // margin: 20px auto;
    background: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);

    input {
      background-color: var(--md-sys-color-primary);

    }

    mat-form-field {
      width: 100%;
    }

    .mat-radio-button {
      display: block;
      margin: 5px 0;
    }

  }
}
