@use '@angular/material' as mat;

@include mat.core();


:root {
  --md-sys-color-primary: #f2f2f2;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #f2f2f2;
  --md-sys-color-on-primary-container: #002020;
  --mat-toolbar-height: 6.4vh;
  // fullscreen height minus toolbar height
  --md-fullscreen-height: calc(100vh - var(--mat-toolbar-height));

}

html {
  height: 94vh;

  body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: white;
    color: black;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }
}
